<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <ul class="nav nav-pills pull-right">
	<li><a href="/about" class="btn btn-lg">About</a></li>
	<li><a href="/contact" class="btn btn-lg">Contact</a></li>
      </ul>	 
      <h1><a href="/">RegattaHub</a> <small></small></h1>
    </div>
  </div>
</div>
