      <div class="row">
	<div class="col-md-12">
	  <div class="page-header">
	    <ul class="nav nav-pills pull-right">
	      <li><a class="btn btn-lg">About</a></li>
	      <li><a class="btn btn-lg">Contact</a></li>
	    </ul>	 
	    <h1><a href="http://127.0.0.1:3000/">RegattaHub</a> <small></small></h1>
	  </div>
	</div>
      </div>
