<!DOCTYPE html>
<html>
  <head>
    <title><%= club.name %>: RegattaHub</title>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <div class="container">
      <% include ./partials/header.ejs %>
      <div class="row">
	<div class="col-md-2">
	  <p><a class="btn btn-primary" href="/">Back to home</a></p>
	</div>
	<div class="col-md-8" ng-app="manageApp">
	  <h1><%= club.name %></h1>
	  <p class="alert alert-danger lead text-center">This is your clubs's management page. The address is also a password.<br /> <strong>Only share this link with people who you want to be able to add/edit your regattas.</strong></p>
	  <p class="alert alert-info text-center">If you are having any issues, email <a href="mailto:support@regattahub.com">support@regattahub.com</a></p>

	  <h2>Events
	    <a href="./addEvent" class="btn btn-primary">Add event</a>
	  </h2>
	  <table class="table table-striped">
	    <thead>
	      <tr>
		<th>Date</th>
		<th>Name</th>
	      </tr>
	    </thead>
	    <tbody>
	      <% for (var i=0;i<regattas.length;i++){ %>
	      <tr>
		<td>
		  <%= regattas[i].event_date.toDateString() %>
		</td>
		<td><strong><a href=""><%= regattas[i].event_name %></a></strong></td>
		<td><a href="" class="btn btn-default">Edit</a></td>
	      </tr>
	      <% } %>
	      <!-- a list of this clubs events -->
	    </tbody>
	  </table>

	    
	  <!-- -->
	</div>
	<div class="col-md-2">
	  <div class="affix">
	    <!--
      	    <ul class="nav">
	      <li><a class="" href="#">Back to Top</a></li>
	      <li><a class="" href="#basic">Basic Information</a></li>
	      <li><a class="" href="#location">Location</a></li>
	      <li><a class="" href="#schedule">Schedule</a></li>
	      <li><a class="" href="#sailing_rules">Sailing Rules</a></li>
	      <li><a class="" href="#results">Results</a></li>
	      <li><a class="" href="#pictures">Pictures</a></li>
	      <li><a class="" href="#social_media">Social Media</a></li>
	    </ul>
	    <!-- -->
	  </div>
      </div>


      </div>

<% include ./partials/foot.ejs %>
<script>
</script>
<script src="/javascripts/manageApp/module.js"></script>
  </body>
</html>
