<!DOCTYPE html>
<html>
  <head>
    <title>Add Regatta</title>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <div class="container">
      <% include ./partials/header.ejs %>
      <div class="row">
	<div class="col-md-2">
	  <p><a class="btn btn-default" href="/">Back to results</a></p>
	</div>
	
	<div class="col-md-10 panel panel-default">
	  <form action="/post/submit" method="post">

	    <div class="row">
	      <div class="col-md-12">

		<h2>New Event</h2>
	      </div>
		<div class="form-group col-md-12">
		  <label for="name">Regatta Name</label>
		  <input type="text" name="name" placeholder="My Regatta" class="form-control" required />
		</div>
		<div class="form-group col-md-6">
		  <label for="host">Host Club</label>
		  <input type="text" name="host" placeholder="My Yacht Club" class="form-control" required />
		</div>
		<div class="form-group col-md-3">
		  <label for="city">City</label>
		  <input type="text" name="city" placeholder="City" class="form-control" />
		</div>
		<div class="form-group col-md-1">
		  <label for="state">State</label>
		  <input type="text" name="state" placeholder="RI" class="form-control" />
		</div>
		<div class="form-group col-md-2">
		  <label for="country">Country</label>
		  <input type="text" name="country" value="USA" class="form-control" />
		</div>
		
		<div class="form-group col-md-6">
		  <label for="date">Start Date</label>
		  <input type="date" name="date" class="form-control" placeholder="2017-08-30" required />
		  <span class="help-block">YYYY-MM-DD</span>
		</div>

		<div class="form-group col-md-6">
		  <label for="boatClass">Boat Class</label>
		  <input type="text" name="boat_class" placeholder="Multi-class" class="form-control" />
		</div>

		<div class="form-group col-md-9">
		  <label for="description">Event Descrition</label>
		  <textarea rows=5 class="form-control" placeholder="Describe your regatta!"></textarea>

		</div>

		<div class="form-group col-md-9">
		  <label for="email">Email Address</label>
		  <input type="email" name="email" placeholder="jamescollins@catalpa.com" class="form-control" required />
		  <span class="help-block">
		    We will send the link you need to manage your regatta to this email. It will not be displayed publically or shared.
		  </span>
		  <input name="gotcha" type="text" style="display:none" />
		</div>
		<!-- only robots fill this out -->
		<div class="form-group col-md-12">
		  <input class="btn btn-success btn-lg" type="submit" value="Submit"/>
		</div>
	      </div>
	    </div>
	  </form>
	  
      </div>
      <% include ./partials/foot.ejs %>
    </div>
  </body>
</html>
