<!DOCTYPE html>
<html>
  <head>
    <title>RegattaHub</title>
    <% include ./partials/head.ejs %>
    
  </head>
  <body>
    <div class="container">
    <% include ./partials/header.ejs %>
      <div class="row">
	<div class="col-md-2">
	  <ul class="nav nav-stacked">
	    <li><a class="btn btn-default" href="/">Back to Regattas</a></li>
	  </ul>
	</div>
	<div class="col-md-8">
	  <div class="jumbotron">
	    <h2>Thank You</h2>
	    <p>Check you email to continue.</p>
	  </div>
	  
	</div>
      </div>
      <% include ./partials/foot.ejs %>
    </div>
    
    

  </body>
</html>
